{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{artist.image}}" alt="{{artist.name}}" />
</div>
<div class="detail__name">
    <h1 class="title">{{artist.name}}</h1>
</div>
<div class="detail__container">
    <!-- inside container -->
    <form class="mb-5" action="{% url 'artwork_create' artist.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="name"
                    placeholder="name"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="image"
                    placeholder="Image URL"
                    required
                />
            </div>
            <div class="control">
                <input class="button is-primary" type="submit" value="Add Artwork" />
            </div>
        </div>
    </form>
    <div class="detail__songs mb-5">
        <h3 class="title is-3">Artworks</h3>
    
        {% for artwork in artist.artworks.all %}
        <div class="song">
          <span>{{forloop.counter}}</span>
          <span><b>{{artwork.name}}</b></span>
        </div>
        <div class="card-image">
            <img src="{{artwork.image}}">
        </div>
            {% empty %}
        <article class="message">
          <div class="message-header">
            <p>No Artworks Available</p>
          </div>
        </article>
    
        {% endfor %}
      </div>
</div>
<!--  above about section  -->
    <div class="detail__container">
        <div class="buttons">
        <a href="{% url 'artist_update' artist.pk %}" class="button is-info"> Update
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'artist_delete' artist.pk %}" class="button is-danger">Delete
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{artist.bio}}</p>
    </div>
</div>

{% endblock %}